<div id="clearance">
  <h2>Join Resident!</h2>
  <p>
    Once you create an account, you can customize your avatar at
    <%= link_to 'Gravatar', 'http://en.gravatar.com/', target: '_blank' %>.
    We will display user avatars based on your email addresses.
  </p>

  <%= form_for(@user, url: create_account_path) do |f| %>
    <%= f.hidden_field :code, value: @code %>

    <div class="text-field">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
    
    <div class="email-field">
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </div>

    <div class="password-field">
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
    </div>

    <div class="submit-field">
      <%= f.submit 'Create Account' %>
    </div>
  <% end %>
</div>
