<div class="wrapper">
  <div class="flex spacing-v-2">
    <h2 class="spacing-r-1"><%= current_user.community.name %></h2>
    <%= link_to 'New Issue', new_issue_path, class: 'button' %>
  </div>

  <div class="flex -align-start spacing-v-2">
    <% if @issues.any? %>
      <% @issues.each do |issue| %>
        <%= link_to issue_path(issue), class: 'card -w-half spacing-b-2' do %>
          <h3 class="spacing-t-0"><%= issue.title %></h3>
          
          <div class="flex spacing-t-1">
            <div class="author">
              <%= image_tag issue.user.gravatar_url, class: 'author__avatar' %>
              <div>
                <strong><%= issue.user.name %></strong><br />
                Posted <%= time_ago_in_words(issue.created_at) %> ago
              </div>
            </div>

            <div class="card__meta">
              <%= pluralize(issue.favorites.count, 'me too', plural: 'me toos') %><br />
              <%= pluralize(issue.comments.count, 'comment') %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>
        No issues in your community! You all are perfect humans. 10/10 would
        continue to live here.
      </p>
    <% end %>
  </div>
</div>
